 /* NavBar */
  .sidenav {
    max-width: 380px;
    width: 85%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    background-color: white;
    transform-origin: right center;
    transform: translateX(380px);
  }
  
  .sidenavHeader {
    color: white;
    font-weight: bold;
    background-color: rgb(35, 47, 62);
    padding: 15px 15px 10px 12px;
    font-size: 23px;
  }
  
  .sidenavContentHeader {
    margin-top: 5px;
    padding: 15px 25px 15px 0px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .sidenavContent {
    padding: 15px 25px 15px 0px;
  }
  
  .sidenavContent:hover {
    background-color: #eaeded;
  }
  
  .offcanvas-menu hr {
    height: 5px;
    border: 0;
    color: rgb(105, 105, 105);
    background-color: rgb(68, 68, 68);
    margin: 15px auto 10px auto;
  }
  
  .sidenavRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
  }
  
  .sidenavRow:hover {
    background-color: #eaeded;
  }
  
  .sidenavRow:hover i {
    color: #111111 !important;
  }
  
  #closeBtn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 390px;
    color: white;
    font-size: 50px;
    cursor: pointer;
    z-index: 9999999;
    transform: translateY(-5px);
    transition: visibility 0.5s;
  }
  .offcanvas-menu a,
  .offcanvas-menu a:link,
  .offcanvas-menu a:visited,
  .offcanvas-menu a:hover,
  .offcanvas-menu a:active {
    text-decoration: none;
    color: black;
  }
  
  /* animation */
  @keyframes collapse {
    0% {
		z-index: 99999999;
		transform: translateX(0px);
    }
    100% {
      transform: translateX(380px);
    }
  }
  
  @keyframes expand {
    0% {
	z-index: 99999999;
    transform: translateX(380px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Overlay */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Dropdown */
  .sidenavContainer hr {
    width: 85%;
  }
  
  .sidenavRowDropdown {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
  }
  
  .sidenavRowDropdown:hover {
    background-color: #eaeded;
  }
  
  .sidenavRowDropdown:hover i {
    color: #111111 !important;
  }
  
  .sidenavContainer {
    display: none;
    height: 0px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
  }
  
  @keyframes expandDropDown {
    0% {
      transform: scaleY(0);
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  
  @keyframes collapseDropDown {
    0% {
      transform: scaleY(1);
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  
  /* Container part */
  #main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  
  @keyframes mainAway {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(380px);
    }
  }
  
  @keyframes mainBack {
    0% {
      transform: translateX(380px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  #sub-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    transform: translateX(-380px);
  }
  
  @keyframes subBack {
    0% {
      transform: translateX(-380px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes subPush {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-380px);
    }
  }
  
  #mainMenu {
    margin-top: 5px;
    padding: 15px 25px 15px 0px;
    font-weight: bold;
  }
  
  #mainMenu:hover {
    background-color: #eaeded;
    cursor: pointer;
  }
  